*{
    box-sizing: border-box;
    transition-duration: 0.5s;
}

body, html{
    padding: 0pt;
    margin: 0pt;
}
label{
    font-family: sans-serif;
    font-size: 2vmax;

}

input{
    font-size: 2vmax;
}

button{
    font-size: 2vmax;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.calculator{
    margin: 2vmax;
    justify-content: center;
}

.fortune{
    margin: 2vmax;
    justify-content: center;
}

#fortune-output{
    font-family: sans-serif;
    font-size: 2vmax;

}

.inverted{
    background-color: black;
    color: white;
    padding: 30pt;

}